@model EmployeeMGMT_MVP.Models.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<hr />
<body>
    <form id="form1" runat="server">

        <h2>Bulk Upload</h2>

        <div class="container">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        @using (Html.BeginForm("Index", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">

                                @Html.Label("File Upload", new { @class = "col-sm-3" })

                                <div class="col-sm-7">
                                    <input type="file" id="postedFile" name="postedFile" class="form-control" accept=".csv" />
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-offset-3 col-md-10">
                                    <br />
                                    <input type="submit" title="Upload" value="Upload" class="btn btn-default" />
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-offset-3 col-md-10">
                                    <br />
                                    <span style="color:red;">
                                        @ViewBag.Message
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
        @Html.ActionLink("Back to List", "Index")
    </form>
</body>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
